header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  align-items: end;
  border-bottom: .3rem solid darkgrey;
  font-size: 50px;
}

h1 {
  grid-column: 1/span 2;
  margin-left: 1rem;
  color: turquoise;
}

nav {
  grid-column: 5/ span 2;
  margin: none;
}

nav a {
  text-decoration: none;
  color: pink;
  font-size: 10px;
}
